@page "/"
@inject NavigationManager NavigationManager
<h1>Seleccionar Cual desea ingresar</h1>
<div class="form-group">
    <td><button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/Tablet"))">Tablet</button></td>
    <td><button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/Smartphone"))">Smartphone</button></td>
    <td><button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/Laptop"))">Laptop</button></td>
</div>
